################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdmissionTestGrifon/.vs/AdmissionTestGrifon/v16/Server/sqlite3
